.login__foot-message {
    margin-top: 25px;
    margin-left: 350px;
    font-weight: 900;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    align-items: center;
  }
  @media screen and (min-width: 0px) and (max-width: 768px) {
    .login__foot-message {
      margin-left: 10%;
      width: 80%;
    }
  }